// .section {
//   @extend .pb-3; //adds 1rem padding to top and bottom of each section
//   &__title {
//     // @extend .d-block, .bg-dark;
//     // @extend .text-end, .text-white;
//     // @extend .px-3, .pt-2, .pb-3;

//     // padding-bottom: 1rem;
//     display: none;
//   }

//   &__subtitle {
//     @extend .h4;
//     @extend .pb-3;
//   }

//   &__content {
//     //@extend .text-center;
//   }
// }

.page {
  main {
    //@extend .pb-3; //adds 1rem padding to the bottom of each page
    // padding-bottom: 1rem;
    &__title {
      // @extend .d-block, .bg-dark;
      // @extend .text-end, .text-white;
      // @extend .px-3, .pt-2, .pb-3;

      padding-bottom: 1rem;
      //display: none;
    }

    &__subtitle {
      @extend .h4;
      @extend .pb-3;
    }

    &__content {
      //@extend .text-center;
      // min-height: 70vh;
    }

    &--contact {
      .page__content {
        min-height: 0;
      }
    }
  }
}

// .container-xxl {
//   padding: 0;
// }
// @include media-breakpoint-up(md) {
//   .container-xxl {
//     padding: 1rem;
//   }
// }

// @include media-breakpoint-up(lg) {
//   //LG and up (menu expanded)

//   body main section:first-of-type  {
//     padding-top: 6rem !important;
//   }
// }

// @include media-breakpoint-down(lg) {
//   //below LG (menu collapsed)
//   body main section:first-of-type {
//     padding-top: 5rem !important; //Top of page margin (inside first section's container), does not affect background colours (bumps below sticky header)
//   }
// }

// main {
//   body main section:not(:first-of-type) {
//     padding-top: 5rem !important; // padding for subsequent containers to bump below sticky header when using anchor tags, does not affect background colours
//   }
// }

h5 {
  color: #999;
  //color: #484848;
}

// @include media-breakpoint-down(sm) {
//   .page {
   
//       padding-bottom: 2rem !important;
    
//   }
// }
// .page {
   
//   padding-bottom: 2rem !important;

// }

