<div class="container-fluid bg-light">
  <div class="container bg-light" id="footer">
    <div class="row pt-3 ">
      <div class="col-lg-3 col-6 footer-contact">
        <h3>{{ .Site.Title }}</h3>
        {{ with .Site.Params.contact }}
        <p>
          {{ with .address }}
          {{ range .streetAddress }}
          {{ . }} <br>
          {{ end }}
          {{ .addressLocality }} <br>
          {{ .addressRegion }}, {{ .postalCode }}<br />
          {{ end }}
          {{ with (index .telephone 0) }}
        </p>
        <p>
          <strong>Phone:</strong> <a href="{{ .url | safeURL }}">{{ .text }}</a><br>
          {{ end }}
          {{ with (index .email 0) }}
          <strong>Email:</strong> <a href="{{ .url | safeURL }}">{{ .text }}</a><br>
          {{ end }}
        </p>
        {{ end }}
      </div>

      <div class="col-lg-3 col-6 footer-links">
        <h4>Useful Links</h4>
        <ul class="list-unstyled">
          {{ range .Site.Menus.pages }}
          <li class="pb-2">{{ partial "svg-font" (dict "svg" "icons/box/bx-chevron-right" )}} <a href="{{ .URL }}"
              class="text-decoration-none">{{ .Name }}</a></li>
          {{ end -}}
        </ul>
      </div>

      <div class="col-lg-6 col-md footer-links">
        <h4>Our Treatments & Services</h4>
        <div class="row">
          <div class="col-6">
            {{ $treatments := where (where .Site.Pages.ByWeight "Type" "treatments") "Kind" "page"}}
            {{ $length := len $treatments }}
            {{ $half := div $length 2 }}
            <ul class="list-unstyled">
              {{ range first $half $treatments -}}
              <li class="pb-2">{{ partial "svg-font" (dict "svg" "icons/box/bx-chevron-right" )}} <a
                  href="{{ .Permalink }}" class="text-decoration-none">{{ .Name }}</a></li>
              {{ end -}}
            </ul>
          </div>
          <div class="col-6">
            <ul class="list-unstyled">
              {{ $lastHalf := math.Floor (div ($length | float) (2 | float))}}
              {{ range last $lastHalf $treatments -}}
              <li class="pb-2">{{ partial "svg-font" (dict "svg" "icons/box/bx-chevron-right" )}} <a
                  href="{{ .Permalink }}" class="text-decoration-none">{{ .Name }}</a></li>
              {{ end -}}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid d-none d-sm-block">
  <!-- non mobile footer -->

  <div class="row bg-dark text-light px-3 py-2 d-flex align-items-center">
    <div class="col small">
      {{ .Site.Title }} &nbsp;&copy;&nbsp;<span id="year">&nbsp;</span>
    </div>
    <div class="col">
      <div class="fs-4 d-flex align-items-center justify-content-end">
        {{- partial "components/social-menu" (dict "class" "me-2 text-light") }}
      </div>
    </div>
  </div>
</div>

<script>
  document.getElementById('year').innerHTML = new Date().getFullYear();
</script>