{{ define "svg" }}
{{ $svg := resources.Get . }}
{{ $svg = $svg.Content }}
{{ $commentStrippedSvg := replaceRE "<!--[^>]*-->" "" $svg }}
{{ $filledPathSvg := replace $commentStrippedSvg "<path" "<path fill='currentColor'" }} <span class="svg-font"
  style="display: inline-block; height: 1em; width: 1em; bottom: .4em; position: relative;">{{- $filledPathSvg |
  safeHTML -}}</span>
  {{ end }}

  <h1 class="visually-hidden">{{ .Site.Title }}</h1>
  <div class="d-none d-lg-block">
    <div class="row m-0 mb-n2">
      <div class="col-lg-4">
        <a href="#" class="snipcart-checkout">
          <div class="d-inline-block position-relative fs-2 m-3 text-primary">

            {{/* partial "scripts/svg-inline.html" "icons/bootstrap/cart-fill.svg" */}}
            {{ template "svg" "icons/custom/snipcart.svg" }}
            <span class="position-absolute top-0 start-100 translate-middle  fs-6 snipcart-items-count"><span
                class="visually-hidden">Cart Contents</span></span>
          </div>
        </a>
      </div>
      <div class="col-lg-4 mx-auto text-center">

        {{/* glob not possible */}}
        {{- $image := resources.Get "images/header.png" -}}
        {{ $widths := (slice 424 368 1) }}
        {{ $class := ""}}
        {{ $title := site.Title }}
        {{/* define variables inside if - used in img tags at end */}}
        {{ $imgSrcSet := slice }}
        {{ $imgSrc := "" }}

        {{ $imageSize := imageConfig ($image.RelPermalink | printf "assets/%s" ) }}
        <!--
          Add URL for each width to $imgSrcSet variable
          format: "/path/img_1000.jpg 1000w,/path/img_500.jpg 500w"
          Note: the first URL is used as "fallback" src in $imgSrc.
        -->
        {{ range $widths }}
        {{ $srcUrl := "" }}
        {{ if ne . 1 }}
        {{ $srcUrl = (printf "%dx" . | $image.Resize).RelPermalink }}
        {{/* largest image becomes the fallback */}}
        {{ if eq $imgSrc "" }}
        {{ $imgSrc = $srcUrl }}
        {{ end }}
        {{ else }}
        {{/* 1px transparent */}}
        {{ $srcUrl =
        "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mNk+M9QDwADhgGAWjR9awAAAABJRU5ErkJggg=="
        }}
        {{ end }}
        {{ $imgSrcSet = $imgSrcSet | append (printf "%s %dw" $srcUrl .) }}
        {{ end }}
        {{ $imgSrcSet = (delimit $imgSrcSet ",") }}

        {{/* OUTPUT HTML */}}
        {{/* set vars for html tags */}}
        {{ $img848 := $image.Resize "848x"}}
        {{ $img424 := $image.Resize "424x"}}
        {{ $img736 := $image.Resize "736x"}}
        {{ $img368 := $image.Resize "368x"}}
        <picture>
          <source type="{{ $image.MediaType }}" media="(min-width: 1200)"
            srcset="{{ $img424.RelPermalink }} 1x, {{ $img848.RelPermalink }} 2x">
          <source type="{{ $image.MediaType }}" media="(min-width: 992)"
            srcset="{{ $img368.RelPermalink }} 1x, {{ $img736.RelPermalink }} 2x">
          <source type="image/png" media="(max-width: 991)"
            srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mNk+M9QDwADhgGAWjR9awAAAABJRU5ErkJggg==">
          <img src="{{ $img424.RelPermalink }}" alt="{{ site.Title }}" title="{{ site.Title }}"
          width="{{ $img424.Width }}" height="{{ $img424.Height }}">
        </picture>
        {{/* <img alt="{{ $title }}" class="{{ $class }}" sizes="
            (min-width: 1200) 424px,
            (min-width: 992px) 368px,
            (max-width: 991px) 1px" srcset="{{ $imgSrcSet }}" src="{{ $imgSrc }}" loading="eager" /> */}}
      </div>
      <div class="col-md-4">
        <div class="fs-4 pt-3 d-flex align-items-center justify-content-end">
          {{- partial "components/social-menu" (dict "class" "me-2 mb-2 text-primary") }}
        </div>
      </div>
    </div>
  </div>