<!doctype html>
<html lang="{{ .Lang }}" class="min-vh-100">
  <head>
    {{ partial "head/head.html" . }}
  </head>
  {{- partial "head/body-class.html" . -}}
  {{- $bodyClass := delimit (.Scratch.Get "class") " " -}}
  <body class="{{ $bodyClass }} d-flex flex-column min-vh-100">
    {{ if and .IsHome .Site.Params.alert }}
      {{ partial "header/alert.html" . }}
    {{ end }}
    {{ partial "header/header.html" . }}
    <main class="mb-auto">
      {{ block "main" . }}{{ end }}
    </main>
    {{ block "sidebar-footer" . }}{{ end }}
    <footer>
      {{ partial "footer/footer.html" . }}
    </footer>
    {{ partial "footer/script-footer.html" . }}
  </body>
</html>