<div class="c-contact-details">
  {{ range $key, $value := site.Params.contact }}
    {{ $text := "" }}
    {{ range $index, $element := $value }}
    {{ if ne $element.diable true }}
      
      {{ if eq $key "openingHours" }}
      {{ $text = $text | append $element.dayOfWeek }}
      {{ else }}
      {{ $text := $element.text }}
      {{ end }}
      <div class="d-flex flex-row align-middle">
        <div class="d-flex align-items-center">
          <div class="fs-4 text-primary me-2 my-2">
          {{ with $element.icon }}
          {{ partial "svg-font" (dict "svg" . "block" true) }} 
          {{ end }}
          </div>
        </div>
        <div class=" d-flex align-items-center">
          {{- with $element.url -}}
          <a class="text-break text-decoration-none link-secondary" href="{{- . | safeURL -}}" 
          {{- if $element.newTab -}} target="_blank" rel="noopener"{{- end -}}>{{- end -}}
          {{- $text | markdownify -}}{{- if $element.url -}}</a>{{- end -}}
        </div>
      </div>
    {{ end }}
  {{ end }}
  {{ end }}
</div>
